.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.form-container input {
    margin: 15px 0;
}

.form-container button {
    width: 100px;
}